body {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    text-align: center;
    background: rgb(221, 223, 197);
    color: #1c0e29;
    font-size: 16px;
    line-height: 1.7;
    padding: 30px;
}
.song h1 {
    color:green;

}
.song i {
    font-size: 50px;
    color:navy;
}
.song {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction:column;
        flex-direction:column;
}